.progress_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.progress_bar {
  position: absolute;
  top: 59px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: rgb(135, 237, 250);
}

.hidden {
  display: none;
}

.showButton {
  position: fixed;
  background-color: lightgrey;
  border-radius: 50%;
  padding: 0.25rem;
  right: -100px;
  bottom: 50px;
  font-size: 35px;
  color: grey;
  cursor: pointer;
  transform: translateX(-160px);
  animation: slideLeft 1s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(-160px);
  }
}